body {
    background: linear-gradient(90deg, #121413 85%, #149c56);
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family:  Helvetica, sans-serif, Arial;
    font-size: 20px;
    color: #bfb8f8;
    font-style: normal;
}

.g2 {
    background: linear-gradient(135deg, #1BEE7D 25%, transparent 25%),
          linear-gradient(225deg, #1BEE7D 25%, transparent 25%),
          linear-gradient(315deg, #1BEE7D 25%, transparent 25%),
          linear-gradient(45deg, #1BEE7D 25%, transparent 25%);
    background-size: 30px 30px;
    background-color: #7286A0;
    border-radius: 15px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /* this creates a small diamond effect and repeats */
    /* gradient banner */
}

.container {
    display: flex;
    flex-direction: column;
    align-items:center;
    align-content: center;
}

.footContainer {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-between;
    background: none;
}

.sidenav {
    width: 130px;
    height: 165px;
    position: fixed;
    z-index: 1;
    top: 130px;
    background: none;
}

.a2 {
    color:#1BEE7D;
    text-decoration: none;
    font-weight:bolder;
    padding: 16px 0px;
}

.a2:hover {
    color: #E9E6FF;
    background-color: #1BEE7D;
    border-radius: 10px;
    width: 80px;
    text-align: center;
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1BEE7D;
    position: fixed;
}

h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #F0A202;
    font-size: 40px;
}

h3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #F0A202;
}

h4 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #7286A0;
}

div {
    background-color: #7286A022;
    /* last 2 digits are opactity */
    border-radius: 15px;
    display: block;
    margin: 25px auto;
    width: 65%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

.animBar {
    /* A small animated bar which changes colour */
    width: 65%;
    height: 6px;
    position: relative;
    
    display: block;
    margin-left: auto;
    margin-right: auto;    

    animation: lightSlide 2s ease-in-out infinite;
}

@keyframes lightSlide{
    0% {background-color:  #1BEE7D;}
	50% {background-color:  #d6f7e3;}
    100% {background-color:  #1BEE7D;}
}
