body {
    background: linear-gradient(90deg, #1F2421 85%, #1BEE7Ddd);
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family:  Helvetica, sans-serif, Arial;
    font-size: 20px;
    color: #E9E6FF;
    font-style: normal;
}

.g2 {
    background: linear-gradient(135deg, #eceddc 25%, transparent 25%),
          linear-gradient(225deg, #eceddc 25%, transparent 25%),
          linear-gradient(315deg, #eceddc 25%, transparent 25%),
          linear-gradient(45deg, #eceddc 25%, transparent 25%);
        background-size: 20px 20px;
        background-color: #1BEE7D;
        /* this creates a small diamond effect and repeats */
}

.container {
    display: flex;
    flex-direction: column;
    align-items:center;
    align-content: center;
}

.sidenav {
    width: 130px;
    height: 200px;
    position: fixed;
    z-index: 1;
    top: 130px;
    font-weight:bolder;
}

a {
    color:#1BEE7D;
    text-decoration: none;
    padding: 16px 0px;
}

a:hover {
    color: #E9E6FF;
    background-color: #1BEE7D;
    width: 80px;
    text-align: center;
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1BEE7D;
    position: fixed;
}

h3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #F0A202;
}

div {
    background-color: #7286A022;
    /* last 2 digits are opactity 
    display
    margin*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

.animBar {
    width: 65%;
    height: 6px;
    position: relative;
    
    display: block;
    margin-left: auto;
    margin-right: auto;    

    animation: lightSlide 2s ease-in-out infinite;
}

@keyframes lightSlide{
    0% {background-color:  #1BEE7D;}
	50% {background-color:  #d6f7e3;}
    100% {background-color:  #1BEE7D;}
}